nav{
    margin: 1rem 0;
}
a[routerLink]{
    text-decoration: none;
    margin-right: 1rem;
    color: black;
    padding: 8px 12px;
    border-radius: 3px;
    background-color: rgb(212, 185, 135);
    transition: all .2s ease-in-out;
}
a[routerLink]:hover{
    background-color: rgb(180, 150, 93);
}