<h1>Componentes creados dinamicamente</h1>
<div>
<label>Genero : </label>
@for(elemento of generos; track $index){
    <label>{{elemento}}  </label>
    <input type="radio" name="genero" [(ngModel)]="genero" value="{{elemento}}">
}
<br>
<label >Nacionalidades :</label>
<select  [(ngModel)]="nacionalidad">
    @for(elemento of nacionalidades; track $index){
        <option value="{{elemento}}">{{elemento}}</option>
    }
</select>
<br>
<label >Lenguajes de Programación :</label>
@for(elemento of lenguajesProgramacion; track $index){
   <label >{{elemento}}</label> 
   <input type="checkbox" [(ngModel)]="lenguajesProgramacion"  value="{{elemento}}">
}

<button (click)="mostrarInfo()">Mostrar información</button>



</div>