@keyframes jumpIn {
    0%{
        transform: translateX(-300px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes bounceIn {
    0%{
        transform: translateY(-300px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.container{
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    width: 100%;
    gap: 5px;
    justify-items: center;
}
img{
    border-radius: 15px;
    max-width: 500px;
    height: 480px;
    animation: jumpIn 1s ease-in-out;
}
p{   
    background-color: #30353e;
    padding: 1rem;
    height: 480px;
    border-radius: 15px;
    animation: bounceIn 0.8s ease-in-out;
    overflow-y: auto;
}

@media (max-width: 1024px) {
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        justify-content: center;
    }
    p{
        overflow-y: hidden;
        height: 100%;
    }
}