section{
    display: flex;
    flex-direction: column;
    color: #f2f2f2;
    width: 100%;
    padding: 1rem;
}
li{
    list-style-type: none;
    margin: 1rem 0;
}
button{
    padding: 3px 5px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
button:hover{
    background-color: rgb(225, 151, 225);
    color: #f2f2f2;
}