<h2>Tienda Online</h2>
<p>En esta tienda online encontará algún texto</p>

<ol>
    <li>Detergente de Suelo</li>
    <li>Productos para el Baño</li>
    <li>Productos para Cocina</li>
    <li>Producto para el Exterior</li>
</ol>
<img src="https://img.freepik.com/fotos-premium/productos-limpieza-hogar_863013-118483.jpg" width="435px" height="auto" alt="Productos de limpieza">

<table>
    <tr>
        <th>ID del Producto</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Imagen</th>
    </tr>
    <tr>
        <td>Lejia</td>
        <td>2,20€</td>
        <td>Lejia el Conejo</td>
        <td><img src="https://media.adeo.com/marketplace/MKP/85240055/9f4a06bb6cdd72ebcbfa949bf0aa9349.jpeg?width=3000&height=3000&format=jpg&quality=80&fit=bounds" alt="Lejia el Conejo" width="100px"></td>
    </tr>
    <tr>
        <td>Estropajo</td>
        <td>0,90€</td>
        <td>Scrub Daddy</td>
        <td><img src="https://www.pinkstuff.es/cdn/shop/files/Scrubdaddyblauw.png?v=1691183593" alt="Scrub Daddy" width="100px"></td>
    </tr>
    <tr>
        <td>Trapeador</td>
        <td>3,40€</td>
        <td>Trapea Plus</td>
        <td><img src="https://m.media-amazon.com/images/I/51BcJkR9tSL._AC_UF894,1000_QL80_.jpg" alt="Trapea Plus" width="100px"></td>
    </tr>
    <tr>
        <td>Don Limpio</td>
        <td>5,40€</td>
        <td>Don Limpio</td>
        <td><img src="https://www.marvimundo.com/media/catalog/product/cache/9b647ab8ea9e54a1c1492bcb7d002740/5/4/5410076692255_v2.jpg" alt="Don Limpio" width="100px"></td>
    </tr>
</table>