*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    margin: 16px 0;
}
.form{
    display: grid;
    gap: 5px;
    width: 300px;
}
input{
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
    outline: none;
}

input:focus{
    border: 1px solid blue;
}
button{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    transition: opacity .3s ease-in;
    cursor: pointer;
    background-color: lightblue;
}
button:hover{
    opacity: 0.8;
}
li{
    list-style-type: none;
}
main{
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}
section{
    display: flex;
    align-items: center;
    gap: 16px;
   
}
section li{
    padding: 10px 15px;
    width: 100%;
}
section ul{
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 250px;
    border-radius: 5px;
    flex-grow: 1;
    padding: 1rem;
    margin: 0;
    background-color: rgba(255, 255, 255,0.9);
}